body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.status, .impressum {
    margin: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    text-align: center;
}

.program_table {
    margin: 15px 0;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    color: black;
    border-radius: 15px;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    table-layout: auto;
}

.program_table th, .program_table td {
    padding: 12px 15px;
    border-bottom: 1px solid black;
    text-align: left;
}

.program_table th {
    background-color: #4CAF50;
    color: white;
}

.program_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.program_table tr:hover {
    background-color: #ddd;
}

.program_table th:first-child {
    border-top-left-radius: 15px;
}

.program_table th:last-child {
    border-top-right-radius: 15px;
}

.program_table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.program_table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

header h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}

section p {
    margin: 10px 0;
    line-height: 1.6;
    color: #444;
}

b {
    line-height: 1.6;
    color: #444;
}

footer {
    margin-top: 20px;
}

footer a.black {
    color: rgb(4, 85, 10);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a.black:hover {
    color: #333;
}

@media (max-width: 768px) {
    .program_table th,
    .program_table td {
        padding: 8px 10px;
    }
}

@media (max-width: 480px) {
    .program_table th,
    .program_table td {
        padding: 6px 8px;
    }
}

@media screen and (max-width: 600px) {
    .program_table {
        font-size: 12px; /* Beispiel für verkleinerte Schriftgröße */
    }
}